[Desktop Entry]
Type=Application
Exec=krdpserver
Icon=krfb
Terminal=false
Name=KRdp
Name[ar]=كي أردبي
Name[ca]=KRdp
Name[ca@valencia]=KRdp
Name[de]=KRdp
Name[eo]=KRdp
Name[es]=KRdp
Name[eu]=KRdp
Name[ia]=KRdp
Name[it]=KRdp
Name[ka]=KRdp
Name[nl]=KRdp
Name[pl]=KRdp
Name[sl]=KRdp
Name[tr]=KRdp
Name[uk]=KRdp
Name[x-test]=xxKRdpxx
GenericName=Desktop Sharing (RDP)
GenericName[ar]=مشاركة سطح المكتب (أردبي)
GenericName[ca]=Compartició de l'escriptori (RDP)
GenericName[ca@valencia]=Compartició de l'escriptori (RDP)
GenericName[de]=Freigabe der Arbeitsfläche (RDP)
GenericName[eo]=Kundivido de Labortablo (RDP)
GenericName[es]=Compartir el escritorio (RDP)
GenericName[eu]=Mahaigaina partekatzea (RDP)
GenericName[ia]=Compartir de scriptorio (RDP)
GenericName[it]=Condivisione del desktop (RDP)
GenericName[ka]=სამუშაო მაგიდის გაზიარება (RDP)
GenericName[nl]=Bureaublad delen (RDP)
GenericName[pl]=Współdzielenie pulpitu (RDP)
GenericName[sl]=Deljenje namizja (RDP)
GenericName[tr]=Masaüstü Paylaşımı (RDP)
GenericName[uk]=Спільне користування стільницею (RDP)
GenericName[x-test]=xxDesktop Sharing (RDP)xx
Comment=Desktop Sharing
Comment[ar]=مشاركة سطح المكتب
Comment[ca]=Compartició de l'escriptori
Comment[ca@valencia]=Compartició de l'escriptori
Comment[de]=Arbeitsflächen-Freigabe
Comment[eo]=Kundivido de Labortablo
Comment[es]=Compartir el escritorio
Comment[eu]=Mahaigaina partekatzea
Comment[ia]=Compartir de scriptorio
Comment[it]=Condivisione del desktop
Comment[ka]=სამუშაო მაგიდის გაზიარება
Comment[nl]=Bureaublad delen
Comment[pl]=Współdzielenie pulpitu
Comment[sl]=Deljenje namizja
Comment[tr]=Masaüstü Paylaşımı
Comment[uk]=Спільні стільниці
Comment[x-test]=xxDesktop Sharingxx
Categories=Qt;KDE;Network;RemoteAccess;
