[Desktop Entry]
Type=Application
Exec=krdpserver
Icon=krfb
Terminal=false
Name=KRdp
Name[ar]=كي أردبي
Name[ca]=KRdp
Name[ca@valencia]=KRdp
Name[de]=KRdp
Name[eo]=KRdp
Name[es]=KRdp
Name[eu]=KRdp
Name[fi]=KRdp
Name[gl]=KRdp
Name[ia]=KRdp
Name[it]=KRdp
Name[ka]=KRdp
Name[ko]=KRdp
Name[nl]=KRdp
Name[nn]=KRdp
Name[pl]=KRdp
Name[pt_BR]=KRdp
Name[sl]=KRdp
Name[tr]=KRdp
Name[uk]=KRdp
Name[x-test]=xxKRdpxx
Name[zh_CN]=KRDP
GenericName=Desktop Sharing (RDP)
GenericName[ar]=مشاركة سطح المكتب (أردبي)
GenericName[ca]=Compartició de l'escriptori (RDP)
GenericName[ca@valencia]=Compartició de l'escriptori (RDP)
GenericName[de]=Freigabe der Arbeitsfläche (RDP)
GenericName[eo]=Kundivido de Labortablo (RDP)
GenericName[es]=Compartir el escritorio (RDP)
GenericName[eu]=Mahaigaina partekatzea (RDP)
GenericName[fi]=Työpöydän jako (RDP)
GenericName[gl]=Compartición do escritorio (RDP)
GenericName[ia]=Compartir de scriptorio (RDP)
GenericName[it]=Condivisione del desktop (RDP)
GenericName[ka]=სამუშაო მაგიდის გაზიარება (RDP)
GenericName[ko]=데스크톱 공유(RDP)
GenericName[nl]=Bureaublad delen (RDP)
GenericName[nn]=Skrivebordsdeling (RDP)
GenericName[pl]=Współdzielenie pulpitu (RDP)
GenericName[pt_BR]=Compartilhamento da área de trabalho (RDP)
GenericName[sl]=Deljenje namizja (RDP)
GenericName[tr]=Masaüstü Paylaşımı (RDP)
GenericName[uk]=Спільне користування стільницею (RDP)
GenericName[x-test]=xxDesktop Sharing (RDP)xx
GenericName[zh_CN]=桌面共享 (RDP)
Comment=Desktop Sharing
Comment[ar]=مشاركة سطح المكتب
Comment[ca]=Compartició de l'escriptori
Comment[ca@valencia]=Compartició de l'escriptori
Comment[de]=Arbeitsflächen-Freigabe
Comment[eo]=Kundivido de Labortablo
Comment[es]=Compartir el escritorio
Comment[eu]=Mahaigaina partekatzea
Comment[fi]=Työpöydän jako
Comment[gl]=Compartición do escritorio.
Comment[ia]=Compartir de scriptorio
Comment[it]=Condivisione del desktop
Comment[ka]=სამუშაო მაგიდის გაზიარება
Comment[ko]=데스크톱 공유
Comment[nl]=Bureaublad delen
Comment[nn]=Skrivebordsdeling
Comment[pl]=Współdzielenie pulpitu
Comment[pt_BR]=Compartilhamento da área de trabalho
Comment[sl]=Deljenje namizja
Comment[tr]=Masaüstü Paylaşımı
Comment[uk]=Спільні стільниці
Comment[x-test]=xxDesktop Sharingxx
Comment[zh_CN]=桌面共享
Categories=Qt;KDE;Network;RemoteAccess;
